@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --telegram-blue: #229ed9;
}

* {
  @apply transition-colors duration-200;
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}
